langchain
python-dotenv
langchain_groq
langchain_community
langchain_text_splitters
langchain_classic
langchain-google-vertexai
langchain-pdf
pymupdf
langchain_huggingface
sentence-transformers
faiss-cpu

